section {
  min-height: 100vh;
  width: 100%;
}
body, html {
  margin: 0;
  box-sizing: border-box;
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://web-assets.cred.club/_next/assets/images/home-page/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-toolbar-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3% 3%;
}
.hero-toolbar-menuitems {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
.hero-toolbar-download-button {
  border-radius: 16px;
  border: 2px solid #FFFFFF;
  background-color: black;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 16px;
}
.hero-toolbar-meuitems-text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}
.cred-logo {
  height: 60px;
}
.hero-main-text{
  color: #FFFFFF;
  font-size: 140px;
  font-weight: bolder;
  text-align: center;
  margin: 5% 15%;
}
.hero-sub-text {
  font-size: 30px;
  margin-top: 2%;
}

.hero-download-cred {
  background-color: #FFFFFF;
  color: black;
  border-radius: 40px;
  padding: 2% 6%;
  font-size: 24px;
  font-weight: bold;
}